.select-wrapper {
  position: absolute;
  left: calc(50% - 150px);
  bottom: 20;
  z-index: 5;
  text-align: center;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

select {
  outline: 1px solid #000000;
  background: #C0C0C0;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 8px 16px;
  border-radius: 0;
}