body {
  background-color: black;
}

.select-wrapper {
  position: absolute;
  left: calc(50% - 150px);
  bottom: 20;
  z-index: 5;
  text-align: center;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

select {
  background: #C0C0C0;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  height: 40px;
  width: 150px;
  margin-left: 12px;
  margin-right: 12px;
}

text {
  user-select: none;
  -webkit-user-select: none;
  font-family: monospace;
  font-size: 18px;
  text-anchor: center;
}

text.red {
  animation: red 5s linear;
}

text.orange {
  animation: orange 5s linear;
}

text.yellow {
  animation: yellow 5s linear;
}

text.green {
  animation: green 5s linear;
}

text.blue {
  animation: blue 5s linear;
}

text.indigo {
  animation: indigo 5s linear;
}

text.purple {
  animation: purple 5s linear;
}

text.pastel1 {
  animation: pastel1 5s linear;
}

text.pastel2 {
  animation: pastel2 5s linear;
}

text.pastel3 {
  animation: pastel3 5s linear;
}

text.pastel4 {
  animation: pastel4 5s linear;
}

@keyframes red {
  0% { fill: white; }
  10% { fill: #EB5757; }
  100% { fill: black }
}

@keyframes orange {
  0% { fill: white; }
  10% { fill: #F2994A; }
  100% { fill: black }
}

@keyframes yellow {
  0% { fill: white; }
  10% { fill: #F2C94C; }
  100% { fill: black }
}

@keyframes green {
  0% { fill: white; }
  10% { fill: #15C912; }
  100% { fill: black }
}

@keyframes blue {
  0% { fill: white; }
  10% { fill: #2F80ED; }
  100% { fill: black }
}

@keyframes indigo {
  0% { fill: white; }
  10% { fill: #101db2; }
  100% { fill: black }
}

@keyframes purple {
  0% { fill: white; }
  10% { fill: #9B51E0; }
  100% { fill: black }
}

@keyframes pastel1 {
  0% { fill: white; }
  10% { fill: #ffb6b9; }
  100% { fill: black }
}

@keyframes pastel2 {
  0% { fill: white; }
  10% { fill: #fae3d9; }
  100% { fill: black }
}

@keyframes pastel3 {
  0% { fill: white; }
  10% { fill: #bbded6; }
  100% { fill: black }
}

@keyframes pastel4 {
  0% { fill: white; }
  10% { fill: #8ac6d1; }
  100% { fill: black }
}
