head
  title Reviving the Dream of the 90s
  meta( charset='utf-8' )
  meta( name='viewport' content='width=device-width, initial-scale=1' http-equiv='Content-Type' )
  link( href='https://unpkg.com/normalize.css@8.0.0/normalize.css' rel='stylesheet' type='text/css' )
  link( href='style.css' rel='stylesheet' type='text/css' )
  meta( property='og:title' content='Reviving the Dream of the 90s' )
  meta( property='og:description' content='Recreating Windows 98 screensavers with modern web technology.' )
  meta( property='og:image' content='' )
  meta( property='og:image:width' content='1200' )
  meta( property='og:image:height' content='630' )
body
  .top-bar-wrapper
    .blue-bar
      .icon
      .title Reviving the Dream of the 90s in WebGL
      .blue-bar-buttons
        .minimize
        .maximize
        .close
    .action-bar
      .action
        span.action-underline F
        | ile
      .action
        span.action-underline E
        | dit
      .action
        span.action-underline V
        | iew
  .viewport
    section
      img.header( src='./assets/header.png' )
      p The 90s were an exuberant time for technology. This is an attempt to bring back some of energy by recreating screensavers with WebGL and other modern web technologies.
      p
        | Special thanks to&nbsp;
        a( href='https://twitter.com/visnup' ) Visnu Pitiyanuvath
      a( href='pipes' ) Pipes
      p Recreated using A-Frame, Math.js, await/async, SVG paths
      br
      br
      a( href='maze' ) Maze
      p Recreated using using A-Frame, Math.js, await/async
      br
      br
      a( href='matrix' ) Matrix
      p Recreated using SVG, await/async, CSS animation keyframes
  .menu-bar
