head
  title Reviving the Dream of the 90s
  meta( charset='utf-8' )
  meta( name='viewport' content='width=device-width, initial-scale=1' http-equiv='Content-Type' )
  link( href='https://unpkg.com/normalize.css@8.0.0/normalize.css' rel='stylesheet' type='text/css' )
  link( href='style.css' rel='stylesheet' type='text/css' )
  meta( property='og:title' content='Reviving the Dream of the 90s' )
  meta( property='og:description' content='Recreating Windows 98 screensavers with modern web technology.' )
  meta( property='og:image' content='' )
  meta( property='og:image:width' content='1200' )
  meta( property='og:image:height' content='630' )
body
  .top-bar-wrapper
    .blue-bar
      .left-content
        .icon.app-icon
          img( src='./assets/paint-brush.ico' )
        .title Reviving the Dream of the 90s in WebGL
      .right-content.blue-bar-buttons
        .button: .icon: img( src='./assets/minimize.svg' )
        .button: .icon: img( src='./assets/maximize.svg' )
        .button: .icon: img( src='./assets/close.svg' )
    .action-bar
      .action
        span.action-underline F
        | ile
      .action
        span.action-underline E
        | dit
      .action
        span.action-underline V
        | iew
  .viewport
    section
      img.header( src='./assets/header.png' )
      p The 90s were an exuberant time for technology. This is an attempt to bring back some of that energy by recreating screensavers with WebGL and other modern web technologies.
      p
        | Special thanks to&nbsp;
        a( href='https://twitter.com/visnup' ) Visnu Pitiyanuvath
        | &nbsp;for all his help with this.
      .section-button-wrapper
        a.button( href='' ) View Source
        a.button( href='' ) See Slides
    section
      a( href='./pipes' ): video( src='./assets/pipes.mp4' autoplay loop muted playsinline )
      h3 Pipes
      p Built with A-Frame, Math.js, and other technologies.
      a.button( href='./pipes' ) View Pipes
    section
      a( href='./maze' ): video( src='./assets/maze.mp4' autoplay loop muted playsinline )
      h3 Maze
      p Built with A-Frame, asynchronous functions, and other technologies.
      a.button( href='./maze' ) View Maze
    section
      a( href='./matrix' ): video( src='./assets/matrix.mp4' autoplay loop muted playsinline )
      h3 The Matrix
      p Built with SVG, CSS keyframe animations, and other technologies.
      a.button( href='./matrix' ) View Matrix
  .bottom-bar-wrapper
    .menu-bar-delineator
    .menu-bar
      .left-content
        .start-button.button
          .icon: img( src='./assets/windows-logo.ico' )
          span Start
        .menu-bar-item
          .icon: img( src='./assets/paint-brush.ico' )
          span.menu-bar-item-text Reviving the Dream of the 90s in WebGL
      .right-content
        .time
  script( src='scripts.js' )
