head
  title Pipes
  meta( charset='utf-8' )
  meta( name='viewport' content='width=device-width, initial-scale=1' http-equiv='Content-Type' )
  link( href='https://unpkg.com/normalize.css@8.0.0/normalize.css' rel='stylesheet' type='text/css' )
  link( href='style.css' rel='stylesheet' type='text/css' )
  meta( property='og:title' content='Pipes' )
  meta( property='og:description' content='Recreation of the Windows 95 pipes screensaver using WebGL.' )
  meta( property='og:image' content='https://billyroh.com/screensavers/assets/social-pipes.jpg' )
  meta( property='og:image:width' content='2400' )
  meta( property='og:image:height' content='1260' )
  meta( property='og:url' content='https://billyroh.com/screensavers/pipes' )
  meta( property='og:type' content='website' )
  script( src='https://aframe.io/releases/0.9.2/aframe.min.js' )
  script( src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.0.2/math.min.js' )
  script( src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js' )
  script( src='https://unpkg.com/aframe-geometry-merger-component/dist/aframe-geometry-merger-component.min.js' )
body
  .select-wrapper
    select( class='palette-selector' )
      option( value='classic' ) Classic
      option( value='greyscale' ) Greyscale
      option( value='rainbow' ) Rainbow
      option( value='pastel' ) Pastel
      option( value='spongebob' ) Spongebob
  .fade-out-wrapper( style='width: 100vw; height: 100vh; position: absolute; z-index: 1; pointer-events: none;' )
    svg( id='fade-out-wrapper-svg' width='1000' height='1000')
  a-scene( background='color: black' vr-mode-ui='enabled: false' )
    a-assets
      a-asset-item( id='teapot' src='./teapot.obj' )
      img( id='spongebob1' src='./assets/spongebob1.jpg' )
      img( id='spongebob2' src='./assets/spongebob2.jpg' )
      img( id='spongebob3' src='./assets/spongebob3.jpg' )
      img( id='spongebob4' src='./assets/spongebob4.jpg' )
      img( id='spongebob5' src='./assets/spongebob5.jpg' )
    a-entity( light="type: ambient; color: #FFF" )
    a-entity( light="type: directional; color: #FFF; intensity: 1" position="-0.5 1 1" )
    a-entity( id='pipe-wrapper' )
    a-camera( wasd-controls='acceleration: 200' )
  script( src='scripts.js' )