head
  title Pipes
  meta( charset='utf-8' )
  meta( name='viewport' content='width=device-width, initial-scale=1' http-equiv='Content-Type' )
  link( href='https://unpkg.com/normalize.css@8.0.0/normalize.css' rel='stylesheet' type='text/css' )
  link( href='../style.css' rel='stylesheet' type='text/css' )
  meta( property='og:title' content='Reviving the Dream of the 90s' )
  meta( property='og:description' content='Recreating Windows 98 screensavers with modern web technology.' )
  meta( property='og:image' content='' )
  meta( property='og:image:width' content='1200' )
  meta( property='og:image:height' content='630' )
  script( src='https://aframe.io/releases/0.9.2/aframe.min.js' )
  script( src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.0.2/math.min.js' )
  script( src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js' )
  script( src='https://unpkg.com/aframe-geometry-merger-component/dist/aframe-geometry-merger-component.min.js' )
body
  a-scene( background='color: #000' )
    a-entity( id='pipe-wrapper' position='-8 -2 -20' )
    a-camera( wasd-controls='acceleration: 200' )
      a-entity( id='fade-out-wrapper' position='0 0 -1' geometry-merger='preserveOriginal: false' material='color: grey' )
  script( src='scripts.js' )